a[href="#"]:not(.link-ok) {
    opacity: .2;
}

a[href^="http"]{
    color: red;
}

a[href$=".pdf"]{
    color: orange;
}

a[target="_blank"]{
    color: green;
}

a[href$=".html"]{
    color: black;
}