.chk1 {
    display: none;
}

.chk1 + label span{
        display: inline-block;
    font-size: 20px;
    width: 1em;
    height: 1em;
    background-color: red;
}

.chk1:checked + label span{
    background-color: blue;
    position: relative;
}

.chk1:checked + label span::before{
    content: "";
    display: block;
    border:   .087em solid white;
    position: absolute;
    top: 0.15em;
    left: 0.38em;
    right: 0.3em;
    bottom: 0.3em;
    border-left-color: transparent;
    border-top-color: transparent;
    transform: rotate(30deg);
}

.lbl2 input[type="checkbox"]:checked + label{
    background-color: red;
}