body {
    margin: 0;
    padding: 0;
    background-color: #3c6bb3;
}

div.login {
    width: 500px;
    margin: 250px auto;
    background-color: white;
}

form{
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 2px 2px 2px black;
}

fieldset {
    border: none;
    padding: 20px;
    text-align: center;
}

legend {
    font-size: 2em;
    color: #3c6bb3;
    margin: -13px;
}

.dados {
    color: rgb(0, 0, 0);
    border: 1px solid #3c6bb3;
    background: transparent;
    border-radius: 7px;
    padding: 0 1rem;
    width: 350px;
    height: 40px;
    outline: none;
    margin: 0 -9px;
}

.grupo-nome {
    position: relative;
    padding: 10px 0;
}

.btn-login:hover {
    background-color: #0056b3;
    cursor: pointer;
}

label {
    color: #3c6bb3;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0.2em;
    pointer-events: none;
    transition: top .3s, font-size 0.3s, background-color 0.3s;
}

input:focus~label {
    top: 10px;
    background-color: rgb(255, 255, 255) ;
}

input:valid~label {
    top: 10px;
    background-color: white;
    font-size: 0.7rem;
}

.btn-cadastro {
    margin: 0px 40px 0px 0px;
    text-decoration: none;
    color: #0056b3;
    text-transform: uppercase;
    padding: 10px 15px;
    border-radius: 7px;
}

.btn-cadastro:hover {
    background-color: #ccc;
}

.botoes {
    display: flex;
    flex-direction: column; /* um embaixo do outro */
    gap: 10px; /* espaço entre os itens */
    margin-top: 10px;
}

.btn-login {
    color: white;
    background-color: #3c6bb3;
    padding: 10px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    width: 90px;
    margin: auto;
}

.btn-voltar-login {
    background-color: #ccc;
    color: white;
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: 110px;
    margin: auto;
}

.btn-voltar-login:hover {
    background-color: #aaa;
}
