body {
    margin: 0;
    padding: 0;
    background-color: #3c6bb3;
}

fieldset {
    border: none;
}

div.login {
    width: 500px;
    background-color: white;
    margin: 250px auto;
    box-shadow: 2px 2px 2px black;
}

form {
    padding: 35px;
    display: flex;
    flex-direction: column;
    align-items: center; /* centraliza tudo horizontalmente */
}

legend {
    font-size: 2em;
    color: #3c6bb3;
    margin-left: -13px;
}

.dados {
    color: rgb(0, 0, 0);
    border: 1px solid #3c6bb3;
    background: transparent;
    border-radius: 7px;
    padding: 0 1rem;
    width: 350px;
    height: 40px;
    outline: none;
    margin: 0 -9px;
}

.grupo-nome {
    position: relative;
    padding: 10px 0;
}

.btn-login {
    color: white;
    background-color: #3c6bb3;
    padding: 10px 15px;
    border: none;
    border-radius: 7px;
    margin: 10px 0px 0px -9px;
    display: flex;
    width: 80px;
    text-decoration: none;
}

.btn-login:hover {
    background-color: #0056b3;
    cursor: pointer;
}

fieldset p {
    margin: -27px 0px 0px 190px;
}

label {
    color: #3c6bb3;
    padding: 0 5px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 0.1em;
    pointer-events: none;
    transition: top .3s, font-size 0.3s, background-color 0.3s;
}

input:focus~label {
    top: 10px;
    background-color: rgb(255, 255, 255) ;
}

input:valid~label {
    top: 10px;
    background-color: white;
    font-size: 0.7rem;
}