a[target='_blank']::after {
    content: url(./imagens/newWindow-icon.png);
    margin-left: .5em;
}

a[href$='.pdf']::before{
    content: url(./imagens/pdf-icon.gif);
    margin-right: .5em;
}

::before[type="checkbox"] {
    background-color: green;
}

input[type="checkbox"]:checked + label{
    color: rgb(76, 255, 5);
}

input[type="checkbox"]:not(disabled) + label{
    color: blue;
}

input[type="checkbox"]:disabled + label{
    color: blue;
}

li li:nth-of-type(3){
    background-color: yellow;
}

li li::selection {
    color: rgb(255, 40, 2);
    background-color: yellow;
}